html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
div,
p,
form,
input,
label,
span,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
